
.text-field{
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    height: 100%;
    width: 100%;
    background-color: antiquewhite;
    border-radius: 10px;
}